

            <div class="ui bottom fixed borderless menu">
                    <div class="left menu">
                        <a class="ui item"> 
                            follow us /<i class="twitter icon"></i>
                        </a>
                    </div>
                    <div class="right menu">
                        <a class="ui item"> 
                            Created with <i class="heart red icon"></i>
                        </a>
                    </div>
            </div>  
    </body>
</html>