body {
  background-color: #ECF0F1;
}

#topgridMargin {
    margin-top: 4.0em;
}

.container.main{
    margin-top: 7.0em ;
}

.raised.container{
    margin-top: 5.0em ;
}

.page-home {
  margin-top: 350px;
}

.page-login {
  margin-top: 190px;
}

.logo {
    height: 50px;
    width: 50px;
}
