<h2 align="center"> WELCOME TO RESULTS PAGE</h2>

<table border="1" align="center">
    <tr>
        <th>BTC Price</th>
        <th>ETH Price</th>
        <th>USD Price</th>
    </tr>
    <tr>
        <td><%= results["BTC"] %></td>
        <td><%= results["ETH"] %> </td>
        <td><%= results["USD"] %> </td>
    </tr>

</table>

<a href="/">Search Again</a>