
<% include partials/header %>


<div class="page-home">
  <div class="ui centered grid container">
    <div class="nine wide column">
      <div class="ui icon info message">
          <i class="home icon"></i>
          <div class="content">
            <div class="header">
              COINLY!
            </div>
            <p>Home of all ICO states</p>
          </div>
        </div>
    </div>
  </div>
</div>


<% include partials/footer %>
