
<% include partials/header %>




    <div id="topgridMargin"  class="ui sixteen wide grid">
      <div class="four wide column"></div>
      <div class="eight wide centered column">
        <h3 class="ui center aligned header">
            <div class="ui red content">
              Log New ICO Details
            </div>
        </h3>  
          
        <div class="ui segment" >
          <form class="ui form centered" action="/coins" method="POST">
            <div class="two fields">
              <div class="eight wide field">
                <label>Coin Name</label>
                <input type="text" name="coin[coinName]" placeholder="Coin Name" required="true">
              </div>
              <div class=" eight wide field">
                <label>Coin Symbol</label>
                <input type="text" name="coin[coinSym]" placeholder="Coin Symbol" required="true">
              </div>
          </div>
            <div class="three fields">
              <div class="six wide field">
                <label>ICO Price(USD)</label>
                <input type="text" name="coin[icousdValue]" placeholder="ICO Price USD" required="true">
              </div>
              <div class=" six wide field">
                <label>ICO Price(BTC)</label>
                <input type="text" name="coin[icobtcValue]" placeholder="ICO Price BTC" required="true">
              </div>
              <div class=" four wide field">
                <label>ICO Price(ETH)</label>
                <input type="text" name="coin[icoethValue]" placeholder="ICO Price ETH" required="true">
              </div>                  
          </div>
            <div class="field">
            <label>Coin Description</label>
            <textarea rows="2" name="coin[coinDescription]" placeholder="Project Description" ></textarea>
            </div>
            <div align="center">
              <button class="ui green button" type="submit">Reset</button>
              <button class="ui primary button" type="submit">Submit</button> 
            </div>    
        
          </form> 
        </div>
        
       </div>
     
      <div class="four wide column"></div>
      
    </div>


<% include partials/footer %>
